.login-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: brown; */
  background-image: url("../../../public/images/login.png");
  /* background-attachment:fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

.login-main .login {
  width: 511.1px;
  height: 80vh;
  top: 84px;
  left: 88.2px;
  gap: 0px;
  border-radius: 22px;
  opacity: 0px;
  background: #ffffff52;
  backdrop-filter: blur(22.426294326782227px);
  margin-left: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-content h2 {
  font-family: Poppins;
  font-size: 34.85px;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
}

.login-content p {
  font-family: Poppins;
  font-size: 18.43px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  text-shadow: 0px 4px 4px 0px #00000040;
}

.login-content input {
  width: 100%;
  background: #faf9f959;
  border-radius: 11px;
  padding: 5px 10px;
}
.login-content select {
  width: 100%;
  background: #faf9f959;
  border-radius: 11px;
  padding: 5px 10px;
}
.login-content option {
  width: 100%;
  background: #faf9f959;
  border-radius: 11px;
  padding: 5px 10px;
}

.login-content button {
  width: 100%;
  background: #00000094;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}
.login-content button:hover {
  background-color: #aa1a12;
}

@media only screen and (max-width: 764px) {
  .login-main {
    justify-content: center;
  }
  .login-main .login {
    margin: auto 20px;
    /* margin-left: auto; */
  }
}

@media only screen and (max-width: 400px) {
  .login-content {
    gap: 10px;
  }
  .login-content h2 {
    font-size: 24.85px;
    font-weight: 600;
    line-height: 1.3;
  }

  .login-content p {
    font-size: 14.43px;
    font-weight: 400;
    line-height: 1.2;
  }
}
