.services-main {
    padding: 5% 10%;
  }
  
  .services {
    display: flex;
    flex-direction: column;
  }
  
  .services h3 {
    background-image: linear-gradient(93.14deg, #AA1A12 34.27%, #440A07 167.1%);
    color: transparent;
    background-clip: text;
    font-family: Impact;
font-size: 49.11px;
font-weight: 400;
line-height: 72.09px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  
  .services p {
    text-align:left;
  }
  
  .cards {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    align-items: center;
    background-color: #AA1A12;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .card img {
    height: 85%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s ease;
  }
  
  .card h4 {
    color: #fff;
    margin: 10px 0;
    transition: all 0.3s ease;
    z-index: 2;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 26, 18, 0.8); /* Reddish overlay color */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card:hover h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card:hover img {
    transform: scale(1.1);
  }