.client-confirmed-booking{
    padding: 5% 10%;
}

.booking-price h4{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.booking-artist-info{
    display: flex;
    gap: 20px;
}

.booking-card{
    width: 160px;
    /* height: 423px; */
    border-radius: 10px;
    /* background-color: #AA1A12; */
    /* color: #fff; */
    box-shadow: 0px 2.87px 2.87px 0px #00000040;
    padding-bottom: 10px;

}
.booking-card img{
    height: 140px;
    width: 160px;
    border-radius: 10px 10px 0 0;
}

.booking-card h4{
    color: #000;
    font-size: 18px;
    font-weight: 400px;
    margin-left: 15px;

}

.booking-card p{
    font-size: 16px;
    margin-left: 15px;
}
.booking-card span{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 24px;
    margin-left:15px ;
}

.booking-artist-info h3{
    font-family: Poppins;
font-size: 16.57px;
font-weight: 700;
line-height: 24.51px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}