.artist-profile-main{
    padding: 5% 10% ;
}
.artist-profile-main h6{
    margin-left: 15px;
}
.artist-profile{
    display: flex;
    flex-direction: column;

}

.artist-profile h3{
    /* color: linear-gradient(93.14deg, #AA1A12 34.27%, #440A07 167.1%); */
    background-image: linear-gradient(93.14deg, #AA1A12 34.27%, #440A07 167.1%);
    color: transparent;
    background-clip: text;
    font-family: Impact;
font-size: 49.11px;
font-weight: 400;
line-height: 72.09px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin: 20px 0;


}
.artist-profile p{
    text-align: left;
}


.artist-top{
    display: flex;
    gap: 50px;
}

.artist-image{
    width: 520px;
    height: 320px;
    /* background-color: red; */
    border-radius: 10px;
}
.artist-image img{
    width: 100%;
    height: 100%;
    border: 2px solid #0000001C;
    border-radius: 10px;
}

.artist-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acs .content-s{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    border: 2px solid #0000001C;
    color: #550A06;
    
    border-radius: 28px;
    padding: 10px 10px;
   
    width: 70%;
}

.acs .content-s .pspan{
    background: #9D160F17;
    /* width: 65px; */
    height: 34px;
  
    padding: 2px 12px 2px 12px;
    gap: 0px;
    border-radius: 48px;
    opacity: 0px;
    text-align: center;
    color: #550A06;

    
}
.artist-bottom{
    margin-top: 20px;
}

.content-sb{
    border: 2px solid #0000001C;
    border-radius: 28px;
    padding: 10px;
}

.artist-bottom .abr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.artist-bottom .abrs{
    width: 40%;
}
.artist-bottom .content-s .pspan{
    background: #9D160F17;
    /* width: 65px; */
    height: 34px;
  
    padding: 2px 12px 2px 12px;
    gap: 0px;
    border-radius: 48px;
    opacity: 0px;
    text-align: center;
    color: #550A06;
    margin: 5px 0;

    
}


.artist-bottom .content-s{
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px 20px; */
    border: 2px solid #0000001C;
    color: #550A06;
    
    border-radius: 28px;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
   
    /* width: 40%; */
}

.artist-bottom .pspani{
    width: 44px;
    height: 44px;
    position: relative;
    right: -20px;
    cursor: pointer;
}


.profile-artist-cards {
    display: flex;
    /* margin-top: 20px; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* justify-content: space-between; */
    gap: 40px;
    align-items: center;
  }
  .profile-artist-card {
    width: 240px;
    height: 320px;
    border-radius: 10px;
    /* background-color: #AA1A12; */
    /* color: #fff; */
    box-shadow: 0px 2.87px 2.87px 0px #00000040;
    padding-bottom: 10px;
  }
  .profile-artist-card img {
    height: 220px;
    width: 240px;
    border-radius: 10px 10px 0 0;
  }
  
  .profile-artist-card h4 {
    color: #000;
    font-size: 22px;
    font-weight: 400px;
    margin-left: 15px;
  }
  
  .profile-artist-card p {
    font-size: 18px;
    margin-left: 15px;
  }
  .profile-artist-card span {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 24px;
    margin-left: 15px;
  }



  .profile-artist-cards .left-button{
    position: relative;
    left: 20px;
    /* z-index: 55; */
    background: #b30f0f;
    box-shadow: 0px 6.17px 6.17px 0px #00000014;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px ;
  }
  .left-button:hover{
    background-color: #000;
  }
  .right-button:hover{
    background-color: #000;
  }
  .profile-artist-cards .right-button{
    position: relative;
    right: 20px;
    background: #0000006b;
    /* background: #b30f0f; */
    box-shadow: 0px 6.17px 6.17px 0px #00000014;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px ;
  }
  .profile-artist-cards .right-button:hover{
   
    background: #000000;
   
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-frame {
    width: 100%;
    height: 80vh;
    border: none;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: auto;
  }
  
  @media screen and (max-width: 1024px) {
    .acs .content-s{
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {

    .artist-top{
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .artist-image{
      width: 100%;
    }
.artist-top .artist-content{
  width: 100%;
}
.artist-top .artist-content.acs{
  width: 100%;
}
.acs .content-s{
  width: 100%;
}

.abr .abrs{
  width: 100%;

}



  }

  @media screen and (max-width: 464px) {
.abr{
  flex-direction: column;
  gap: 5px;
}
  }