.client-create-job{
    margin-top: 40px;
    padding: 5% 10%;
}

.create-job-form{
    display:flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 3.67px 3.67px 0px #00000040;
padding: 20px;
}

.create-job-form input{
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 10px;
}
.create-job-form textarea{
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 10px;
}
.create-job-form p{
    
    font-family: Poppins;
font-size: 16.57px;
font-weight: 500;
line-height: 24.86px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.create-job-form-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.create-job-form-rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create-job-form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.create-job-form-item-p{
    display: flex;
    justify-content: start;
    align-items: center;
}
.create-job-form-item input{
    width: 100%;
}
.create-job-form-row button{
    width: 100%;
    box-shadow: 0px 3.57px 3.57px 0px #0000001A;
    background: #CF4141;
    padding: 5px 10px;
    border-radius: 22px;

}

.create-job-form-row button:hover{
    background-color: transparent;
    border: 1px solid #CF4141;
    color: #CF4141;
}

@media (max-width: 764px) {
    .client-create-job{
        margin-top: 70px;
    }
    .create-job-form-row {
        flex-direction: column;
        gap: 5px;
    }
    .create-job-form-item-p{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

@media (max-width: 464px) {
    .create-job-form-row {
        flex-direction: column;
        gap: 5px;
    }
    .create-job-form-item-p{
        display: flex;
        justify-content: start;
        align-items: center;
    }


.create-job-form-rows{
    flex-direction: column;
}
    
}