.artistdjobs{
  margin-top: 40px;
    padding: 5% 10%;
}



.artistdjobs .artist-pannel-tabs{
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    background-color: #AA1A12;
    border-radius: 22px;
    height: 52px;
    margin-bottom: 20px;
    /* padding: 20px 0; */
}

.active{
    background-color: #ffffff;
   
}
.artistdjobs .artist-pannel-tab{
    /* background-color: #ffffff; */
    border-radius: 22px;
    width: 45%;
    text-align: center;
    padding: 5px 10px;
}
.artistdjobs .artist-dash-b-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 0.4px solid #00000033; */
  
    border-radius: 22px;
  }
  .artistdjobs .artist-dash-card {
    display: flex;
    gap: 80px;
    justify-content: start;
    padding: 10px 80px;
    border: 0.4px solid #00000033;
    border-radius: 22px;
    /* margin: 20px 0; */
  }
  .artistdjobs .artist-dash-card h4 {
    font-family: Poppins;
    font-size: 20.51px;
    font-weight: 400;
    line-height: 23.27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #550a06;
  }
  .artistdjobs .artist-dash-card p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000ad;
  }
  .artistdjobs .artist-dash-card span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00000085;
  }


  @media (max-width: 768px) {
    .artistdjobs{
      margin-top: 80px;
    }
    .artist-dash-h {
     margin-top: 8%;
    }
  
    .artistdjobs .artist-dash-card {
      display: flex;
      gap: 30px;
    }
    .artistdjobs .artist-dash-hero h1{
  text-align: center;
  font-size: 16px;
    }

    .artistdjobs .artist-dash-card span {
      line-height: 1.2;
    }

    .artistdjobs .artist-dash-card h4{

      font-size: 18px;
      line-height: 1.2;
        }
      
       
      
  
  
  }
  
  @media (max-width: 464px) {
    .artistdjobs .artist-dash-h {
      /* margin-top: 15%; */
     }
     .artistdjobs .artist-dash-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: start;
      padding: 10px 20px;
      border: 0.4px solid #00000033;
      border-radius: 22px;
      /* margin: 20px 0; */
    }
    .artistdjobs .artist-dash-card h4{
      font-size: 15px;
      line-height: 1.3;
  
    }
    
  }
  
  
  